@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
:root {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-size: clamp(0.9rem, 2.5vw, 1.2rem);
  --red-color: #b8061a;
  --main-background: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  background-color: var(--main-background);
}

#left-image {
  height: 100vh;
  width: 40vw;
  background-image: url(images/medium-cocktail.jpg);
  background-size: cover;
  background-position: center;
}

.logo {
  background-color: rgb(22, 21, 21);
  opacity: 60%;
  height: 100px;
  position: relative;
  top: 125px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  /* background-color: transparent; */
}

h1 {
  color: rgb(218, 255, 8);
  font-size: 1.7rem;
  padding: 10px;
  font-family: "Playball", cursive;
}
img {
  width: 70px;
}

#right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 60vw;
  padding: 20px;
}

.right {
  display: flex;
  flex-direction: column;
}

.intro {
  margin-top: 100px;
}

.bait {
  margin-top: 20px;
  margin-bottom: 50px;
}

#form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  padding: 50px;
  gap: 20px;
  box-shadow: 0 4px 2px -2px rgb(202, 197, 197);
}

form {
  background-color: rgb(255, 255, 255);
}

a {
  color: var(--red-color);
  text-decoration: none;
}

button {
  width: 200px;
  background-color: var(--red-color);
  color: rgba(255, 255, 255, 0.822);
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  padding: 15px;
  border-radius: 10px;
}

button:active {
  background-color: #6d2f37;
}

input:focus {
  border: 3px solid blue;
}

.error {
  display: block;
}

.description,
.bait,
.motivate {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  font-weight: 600;
  line-height: 135%;
  letter-spacing: 1px;
}

em {
  color: var(--red-color);
  font-weight: 1000;
}

.button {
  padding: 50px;
}

.login {
  margin-top: 20px;
  font-weight: 700;
}

.error {
  font-size: 0.8rem;
  font-weight: 900;
  color: #810310;
}
label {
  font-size: 0.6rem;
  font-weight: 600;
  color: rgb(51, 51, 51);
  margin-bottom: 8px;
  display: block;
}

input {
  padding: 4px;
}

.input-div {
  width: min(270px, 500px);
}

@media (max-width: 800px) {
  #left-image {
    background-image: none;
    width: 0;
  }

  #right-container {
    width: 100vw;
    background-image: url(images/medium-cocktail.jpg);
    background-size: 180%;
    justify-content: center;
    align-items: center;
  }

  form {
    background: transparent;
  }

  .description,
  .bait,
  .motivate {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    font-weight: 600;
    line-height: 135%;
    letter-spacing: 1px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px black;
  }

  #form-container {
    padding: 10px;
    flex-shrink: 1;
    gap: 0px;
    justify-content: center;
  }

  .input-div {
    background-color: white;
    padding: 20px;
  }

  .login {
    color: white;
  }

  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button {
    text-shadow: 1px 1px black;
  }
  h1,
  img {
    visibility: hidden;
  }
}
